#d-container-id {
    display: none;
}
.d-header-close {
    margin-right: 15px;
    cursor: pointer;
    color: #A8B2B6;
}
.d-container {
    border-radius: 12px;
    bottom: 30px;
    right: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background: #fff;
    box-sizing: border-box;
    overflow: auto;
    position: fixed;
    width:385px;
    height: 678px;
    transform: scale(.8);
    transform-origin: right bottom;
    overflow-y: hidden;
}
.d-header {
    margin: 10px;
    -webkit-box-align: center;
    align-items: center;
    background: #ffffff;
    display: flex;
    -webkit-box-flex: 0;
    flex: 0 0 54px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    height: 54px;
    justify-content: space-between;
    position: relative;
    white-space: nowrap;
   /* z-index: 100;*/
    box-shadow: 0 2px 0 rgba(0,0,0,0.03), 0 1px 0 rgba(0,0,0,0.05);
}
.d-header-title {
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    font-weight: normal;
    min-width: 0;
    overflow: hidden;
    padding: 2px 10px 0;
    text-align: center;
    text-overflow: ellipsis;
    margin: 0;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    line-height: 1.333;
    font-size: 1.5em;
}
.d-form-container {
    -webkit-box-direction: normal;
    bottom: 0;
    padding: 18px 0 0 0;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    top: 54px;
    width: 100%;
    overflow-y: hidden;
}
.d-ask-form {
    -webkit-box-direction: normal;
    display: block;
    margin: 10px;
    margin-top: 0em;
    margin-top: 15px;
}
.d-input-group {
    -webkit-box-direction: normal;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
    position: relative;
}
.d-input-group label {
    -webkit-box-direction: normal;
    cursor: default;
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
    text-transform: uppercase;
    padding-top: 1em;
}
.d-input-group input {
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 0;
    box-sizing: border-box;
    width: 100%;
    -webkit-appearance: none;
    line-height: normal;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-writing-mode: horizontal-tb;
    -webkit-box-direction: normal;
}

.d-input-group select{
    background: #FFFFFF;
    width: 100%;
    line-height: normal;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}

.d-select {
    height: 45px;
    border: 1px solid #C4C4C4;
    border-radius: 0;
}
.d-input-group select {
    padding: 20px;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    width: 100%;
    text-indent: 0px;
    box-sizing: border-box;
    line-height: normal;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-writing-mode: horizontal-tb;
    -webkit-box-direction: normal;
}

.customerDropdownError {
    text-align: start;
}

select:invalid, select option[value=""] {
    color: #797979;
}

.d-input-group textarea {
    overflow: auto;
    resize: none;
    padding: 17px 14px 15px;
    vertical-align: top;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 0;
    box-sizing: border-box;
    width: 100%;
    -webkit-appearance: none;
    cursor: text;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-writing-mode: horizontal-tb;
    -webkit-box-direction: normal;
    height:80px;
}
.d-input-group p {
    float:right;
    color: #828f96;
    margin:0px;
}
.d-submit-group {
    padding: 5px 10px 10px;
    position: relative;
    -webkit-box-direction: normal;
}
.d-submit-group button {
    background-color: #1092DA;
    border: 1px solid #1092DA;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    outline: none;
    padding: 10px 12px 9px;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
    white-space: nowrap;
    user-select: none;
    -webkit-appearance: button;
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    align-items: flex-start;
    text-align: center;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    -webkit-writing-mode: horizontal-tb;
    -webkit-box-direction: normal;
    margin-top: 0px;
}
.d-submit-group button:after {
    bottom: -4px;
    content: "";
    display: block;
    left: -4px;
    position: absolute;
    right: -4px;
    top: -4px;
}
.d-svg-icon {
    float: left;
    height: 20px;
    margin-right: 6px;
    width: 24px;
    overflow: hidden;
    display: inline-block;
    fill: currentColor;
    pointer-events: none;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    text-transform: none;
    text-align: center;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    -webkit-writing-mode: horizontal-tb;
    -webkit-box-direction: normal;
}
.d-submit-group strong {
    display: inline-block;
    margin-top: 3px;
    vertical-align: top;
    font-weight: bold;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    text-align: center;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    -webkit-writing-mode: horizontal-tb;
    -webkit-box-direction: normal;
}

.d-dislaimer {
    background: #F4F6F6;
    color: #596A73;
    font-size: 11px;
    line-height: 1.333;
    padding: 7px 10px 6px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-box-direction: normal;
    /*overflow-y: scroll;*/
    overflow: auto;
    height:50px;
    width:365px;
}

.d-dislaimer::-webkit-scrollbar { 
    display: none; 
}