.primary {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 8em 5vw 0 5vw;
    width: 100%;
}

.heading {
    display: flex;
    padding-bottom: 2em;
}

.directlyButtons {
    display: flex;
    flex-direction: row;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    width:100%;
    padding-right: 2em;
}

.directlyButton {
    width: 100%;
}

.title {
    font-size: 2em;
    padding-bottom: .5em;
    font-weight: bold;
}

.topBar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: fixed;
    width: 100%;
    padding-top: 1vh;
    background-color: white;
}

.topBarContainer {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ECECEC;
    margin: 0 5vw 0 5vw;
}

.leftContainer {
    display: flex;
    align-items: center;
    width: 50%;
}

.rightContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:50%;
}

.rightContainer a {
    color: #2F4550;
}

.link {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    font-size: 1.2em;
    font-weight: bold;
}

.linkLast {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
}

.logo {
    display: flex;
    height: 4em;
    align-items: center;
}

.directlyLogo {
    height: 3em;
}

.customerDropdown {
    border: 1px solid;
    background-color: pink;
}