/* Medium Device */
@media (max-width: 1199px) {
    .composition {
        position: relative;
        left: 50px;
    }

    .row .col-1-of-2 {
        width: 100%;
        height: 300px;
    }

    .icon{
        float: left;
        width: 20%;
        top: 15px;
        margin-right: 70px;
    }

    .p1 {
        left: -80px;
    }
    .p2{
        left: 110px;
    }
    .p3{
        left: 290px;
    }
    .p4{
        right: 20px;
    }

    .p5{
        right: 210px;
    }
} 


/* Small Device */
@media (max-width: 989px) {

    .navbar-brand {
        padding-top: 13px;
    }

    .navbar {
        background: rgba(0,0,0,0.7);
        padding: 0;
    }

    .navbar-nav {
        float: left;
    }
    .leo-nav-wrapper {
        padding: 0;
    }

    /* .row1 {
        max-width: 100px;
        margin-left: 189px;
    } */
    
    /* .box {
        width: 383px;
    } */
    .col-sm-4 {
        width: 50%;
    }

    .p1 {
        left: 40px;
    }
    .p2{
        left: 210px;
    }
    .p3{
        left: 370px;
    }
    .p4{
        top: 180px;
        right: 200px;
    }

    .p5{
        top: 180px;
        right: 370px;
    }
}

/* Extra small device */
@media (max-width: 767px) {
    #home-heading h3{
        font-size: 40px
    }

    .row .col-1-of-2 {
        width: 100%
    }

    .navbar-brand {
        padding-top: 15px;
    }

    /* .row1 {
        margin-left: 80px;
    } */

    .row .col-1-of-2 {
        height: 150px;
    }

    .composition {
        display: none;
    }

    

    .navbar {
        background: rgba(0,0,0,0.7);
        padding: 0;
    }

    .navbar-nav {
        float: left;
    }
    .leo-nav-wrapper {
        padding: 0;
    }

    .u-margin-bottom-big {
        margin-bottom: 0;
    }
}

/* Extra small device */
@media (max-width: 480px) {
    #home-heading h3{
        font-size: 30px
    }

    .navbar {
        background: rgba(0,0,0,0.7);
        padding: 0;
    }

    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    /* .row1 {
        margin-left: -32px;
    } */

    .navbar-nav {
        float: left;
    }

    

    .composition {
        display: none;
    }

    .leo-nav-wrapper {
        padding: 0;
    }

    .u-margin-bottom-big {
        margin-bottom: 0;
    }
}

/* Extra small device */
@media (max-width: 320px) {
    .u-margin-bottom-big {
        margin-bottom: 0;
    }

    .composition {
        display: none;
    }

    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .navbar {
        background: rgba(0,0,0,0.7);
        padding: 0;
    }

    /* .row1 {
        margin-left: -40px;
    } */

    .navbar-nav {
        float: left;
    }
    .leo-nav-wrapper {
        padding: 0;
    }
}   

