html,
body {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
}

p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}

h3 {
    color: #41464b;
}
/*Home Section */

#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: linear-gradient(to right bottom, rgba(30, 115, 172, 0.7), rgba(142, 57, 153, 0.6)), url("../img/building.jpg");
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

#profile-picture img:first-child{
    border-radius: 50%;
    width: 200px;
}

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#home-heading h3 {
    color: white;
    font-size: 55px;
    font-weight: 400;
    margin: 20px 0 20px 0;
}
.btn {
    padding: 10px 20px; 
    color: black;
    box-shadow: 0 4px 8px 0 rgba(7, 1, 1, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover {
    color: darkgrey; 
}

#home-heading {
    animation-delay: 0.5s;
    animation-duration: 0.5s;
}

#home-btn {
    animation-delay: 15.5s;
    animation-duration: 1s;
}
/* ===================
         Navigation
======================*/

.navbar .leo-top-nav {
    padding: 20px 0;
}

.leo-top-nav {
    background:rgb(0, 0, 0, 0.7);
    padding: 7px 0;
}



.leo-nav-wrapper {
    padding: 0 55px;
}

.navbar-nav { 
    float: right;
}

.navbar-brand {
    padding: 1px;
}

.navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-nav > li > a:focus, .navbar-nav > li > a:hover {
    background: none;
    color: #34c6d3;
}

.navbar-toggle {
    background-color: rgb(0, 0, 0, 0.1);
    border: 1px solid #fff;
    border-radius: 4px;
    margin-top: 25px;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

/* About Section */

.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}